# Built artifacts
bin/
gen/
out/
build/
app/build/
.gradle/
.kotlin/
kotlin-daemon-*.log

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.navigation/
.cxx/
.externalNativeBuild/
captures/
.metadata/

# Keystores and private keys
*.keystore
*.jks
debug.keystore
debug.keystore.base64
local.properties
.env
.env.*
!*.example

# OS specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite
*.db
